html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("pictures/fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carta {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #title {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .carta {
      padding: 15px;
    }
  
    #title {
      font-size: 1.8em;
    }
  
    p {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .carta {
      padding: 10px;
    }
  
    #title {
      font-size: 1.6em;
    }
  
    p {
      font-size: 0.9em;
    }
  }
  